@charset "utf-8";
/* CSS Document */
#fluid_notification_bar_wrapper{
	display:none; 
	width:100%;  
	height:auto; 
	background-color:#0070FF;  
	border-bottom:solid thin #FFF; 
	box-shadow: 0px 0px 1px 1px #242888; 
	overflow:hidden;
	z-index: 99999;
	position: fixed;
	
	/*background: #5accf5;*/
	
}
#fluid_notification_bar{
	width:90%; 
	height:auto; 
	/*color:#FFF;*/ 
	text-align:center; 
	font-weight:bold; 
	float:left;
	line-height:30px;
	padding: 5px;
}

.fnbar_link{
	opacity: 0
}

#fluid_notification_bar a{
	background-color:#FFF;
	padding-left: 5px;
	padding-right: 5px;
	color:#039AD5;
	text-decoration:none;
	font-weight:normal;
	
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
	
#fluid_notification_bar a:hover{
	background: #ffffff;
	/* Old Browsers */background: -moz-linear-gradient(top, #ffffff 0%, #bffffc 100%);
	 /* FF3.6+ */background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #bffffc));
	/* Chrome,Safari4+  */background: -webkit-linear-gradient(top, #ffffff 0%, #bffffc 100%);
	 /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, #ffffff 0%, #bffffc 100%);
	 /* Opera 11.10+ */background: -ms-linear-gradient(top, #ffffff 0%, #bffffc 100%);
	 /* IE 10+ */background: linear-gradient(to bottom, #ffffff 0%, #bffffc 100%);
	/* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bffffc', GradientType=0 );
	/* IE6-9 */
}

#hide_fluid_notification_bar{
	height: 25px;
	width: 25px;
	margin-right: 5px;
	margin-top: 2px;
	background-color: #FF580A;
	color: #FFF;
	float: right;
	font-size: small;
	cursor: pointer;
	text-align: center;
	font-weight: bold;
	line-height: 25px;
	padding: 5px;
	
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	
	-webkit-box-shadow: inset 0px 1.5px 1px 0px rgba(0,0,0,0.40);
	-moz-box-shadow: inset 0px 1.5px 1px 0px rgba(0,0,0,0.40);
	box-shadow: inset 0px 1.5px 1px 0px rgba(0,0,0,0.40);
}
